In [1]:
import pandas as pd

In [2]:
data_dir = "..\data"
input_dir = f"{data_dir}\input"
output_dir = f"{data_dir}\output"
order_file = f"{input_dir}\order.csv"
customer_file = f"{input_dir}\customer_master.csv"
item_file = f"{input_dir}\item_master.csv"
output_file = f"{output_dir}\order_processed.csv"

In [5]:
df_order = pd.read_csv(order_file)
df_customer = pd.read_csv(customer_file)
df_item = pd.read_csv(item_file)
display(df_order.head())
display(df_customer.head())
display(df_item.head())

,オーダーID,オーダー日,顧客ID,商品ID,数量,売上,出荷日,キャンセル日,ステータス
0,201901010005-1,2019-01-01,C00002159,TB-BUNN,1,9800,2019-01-01,NaN,配達済み
1,201901010001-1,2019-01-01,C00000112,TO-AUNN,1,2280,2019-01-04,NaN,配達済み
2,201901010005-2,2019-01-01,C00002159,PA-BMBS,1,20000,2019-01-02,NaN,配達済み
3,201901010004-1,2019-01-01,C00001710,BP-BUNN,1,9800,2019-01-01,NaN,配達済み
4,201901020019-2,2019-01-02,C00001925,PA-AMBL,1,16500,2019-01-07,NaN,配達済み

        顧客ID     氏名       ひらがな        生年月日 性別 都道府県
0  C00000001  伊波 正巳     いは まさみ  2003-09-04  男  東京都
1  C00000002  細貝 園子   ほそがい そのこ  1993-06-08  女  新潟県
2  C00000003  大畑 正紀  おおはた まさのり  2003-06-19  男  愛媛県
3  C00000004  青木 勇気    あおき ゆうき  1978-12-17  男  大阪府
4  C00000005  鵜飼 克己    うかい かつみ  2002-03-01  男  埼玉県

      商品ID                  商品名  カテゴリ サブカテゴリ      色 サイズ     定価
0  CT-AMBS    Men Black コート A S  アウター    Men  Black   S  39600
1  JA-AMBS  Men Black ジャケット A S  アウター    Men  Black   S  31900
2  VE-AMBS    Men Black ベスト A S  アウター    Men  Black   S  19800
3  SW-AMBS   Men Black セーター A S  トップス    Men  Black   S  16000
4  NI-AMBS    Men Black ニット A S  トップス    Men  Black   S  10000

In [6]:
print(df_order.isnull().sum())

オーダーID        0
オーダー日         0
顧客ID          3
商品ID          3
数量            0
売上            0
出荷日           0
キャンセル日    13665
ステータス         0
dtype: int64

In [7]:
print(df_customer.isnull().sum())

顧客ID    0
氏名      0
ひらがな    0
生年月日    0
性別      0
都道府県    0
dtype: int64

In [10]:
print(df_item.isnull().sum())

商品ID       0
商品名        0
カテゴリ       0
サブカテゴリ     0
色         16
サイズ       16
定価         0
dtype: int64

In [12]:
# 欠損値（df_order）
display(df_order.loc[df_order["顧客ID"].isnull()])
display(df_order.loc[df_order["商品ID"].isnull()])

             オーダーID       オーダー日 顧客ID 商品ID  数量      売上         出荷日 キャンセル日 ステータス
237  201902090006-1  2019-02-09  NaN  NaN   0  999999  2019-02-17    NaN   テスト
239  201902090008-1  2019-02-09  NaN  NaN   0  999999  2019-02-15    NaN   テスト
240  201902090000-1  2019-02-09  NaN  NaN   0  999999  2019-02-15    NaN   テスト

             オーダーID       オーダー日 顧客ID 商品ID  数量      売上         出荷日 キャンセル日 ステータス
237  201902090006-1  2019-02-09  NaN  NaN   0  999999  2019-02-17    NaN   テスト
239  201902090008-1  2019-02-09  NaN  NaN   0  999999  2019-02-15    NaN   テスト
240  201902090000-1  2019-02-09  NaN  NaN   0  999999  2019-02-15    NaN   テスト

In [14]:
# 欠損値(df_item)
display(df_item.loc[df_item["色"].isnull()])
display(df_item.loc[df_item["サイズ"].isnull()])

       商品ID         商品名 カテゴリ  サブカテゴリ    色  サイズ     定価
44  TB-AUNN    トートバッグ A  バッグ  Unisex  NaN  NaN   7800
45  SB-AUNN  ショルダーバッグ A  バッグ  Unisex  NaN  NaN   8800
46  BP-AUNN    バックパック A  バッグ  Unisex  NaN  NaN  10200
47  HA-AUNN        帽子 A   小物  Unisex  NaN  NaN   5280
48  HC-AUNN      ハンカチ A   小物  Unisex  NaN  NaN   1200
49  TO-AUNN       タオル A   小物  Unisex  NaN  NaN   2280
50  TB-BUNN    トートバッグ B  バッグ  Unisex  NaN  NaN   9800
51  SB-BUNN  ショルダーバッグ B  バッグ  Unisex  NaN  NaN   6800
52  BP-BUNN    バックパック B  バッグ  Unisex  NaN  NaN   9800
53  HA-BUNN        帽子 B   小物  Unisex  NaN  NaN   4800
54  HC-BUNN      ハンカチ B   小物  Unisex  NaN  NaN    980
55  TO-BUNN       タオル B   小物  Unisex  NaN  NaN   2180
56  SB-CUNN  ショルダーバッグ C  バッグ  Unisex  NaN  NaN   5890
57  BP-CUNN    バックパック C  バッグ  Unisex  NaN  NaN  12900
65  HA-AKNN        帽子 A   小物    Kids  NaN  NaN   4300
66  BP-AKNN    バックパック A  バッグ    Kids  NaN  NaN   7800

       商品ID         商品名 カテゴリ  サブカテゴリ    色  サイズ     定価
44  TB-AUNN    トートバッグ A  バッグ  Unisex  NaN  NaN   7800
45  SB-AUNN  ショルダーバッグ A  バッグ  Unisex  NaN  NaN   8800
46  BP-AUNN    バックパック A  バッグ  Unisex  NaN  NaN  10200
47  HA-AUNN        帽子 A   小物  Unisex  NaN  NaN   5280
48  HC-AUNN      ハンカチ A   小物  Unisex  NaN  NaN   1200
49  TO-AUNN       タオル A   小物  Unisex  NaN  NaN   2280
50  TB-BUNN    トートバッグ B  バッグ  Unisex  NaN  NaN   9800
51  SB-BUNN  ショルダーバッグ B  バッグ  Unisex  NaN  NaN   6800
52  BP-BUNN    バックパック B  バッグ  Unisex  NaN  NaN   9800
53  HA-BUNN        帽子 B   小物  Unisex  NaN  NaN   4800
54  HC-BUNN      ハンカチ B   小物  Unisex  NaN  NaN    980
55  TO-BUNN       タオル B   小物  Unisex  NaN  NaN   2180
56  SB-CUNN  ショルダーバッグ C  バッグ  Unisex  NaN  NaN   5890
57  BP-CUNN    バックパック C  バッグ  Unisex  NaN  NaN  12900
65  HA-AKNN        帽子 A   小物    Kids  NaN  NaN   4300
66  BP-AKNN    バックパック A  バッグ    Kids  NaN  NaN   7800

In [18]:
# 重複の有無を確認する
print(df_order.duplicated(subset=["オーダーID"]).sum())
print(df_customer.duplicated(subset=["顧客ID"]).sum())
print(df_item.duplicated(subset=["商品ID"]).sum())

261
0
0

In [19]:
# 重複の内容を確認する
display(df_order.loc[df_order.duplicated(subset=["オーダーID"],keep=False)].sort_values(["オーダーID"]))

,オーダーID,オーダー日,顧客ID,商品ID,数量,売上,出荷日,キャンセル日,ステータス
10865,202203010000-1,2022-03-01,C00000340,SW-CWWM,1,18400,2022-03-05,NaN,配達済み
11126,202203010000-1,2022-03-01,C00000340,SW-CWWM,1,18400,2022-03-05,NaN,配達済み
10866,202203010000-2,2022-03-01,C00000340,TS-BWGL,1,7600,2022-03-06,NaN,配達済み
11127,202203010000-2,2022-03-01,C00000340,TS-BWGL,1,7600,2022-03-06,NaN,配達済み
11130,202203010000-3,2022-03-01,C00000340,TS-CMBL,1,7600,2022-03-06,NaN,配達済み
...,...,...,...,...,...,...,...,...,...
11380,202203310006-1,2022-03-31,C00001124,BP-AKNN,1,7800,2022-04-04,NaN,配達済み
11120,202203310008-1,2022-03-31,C00001285,VE-BMWS,1,18000,2022-04-06,NaN,配達済み
11381,202203310008-1,2022-03-31,C00001285,VE-BMWS,1,18000,2022-04-06,NaN,配達済み
11124,202203310010-1,2022-03-31,C00002048,PA-CWBS,1,14300,2022-04-07,NaN,配達済み
11385,202203310010-1,2022-03-31,C00002048,PA-CWBS,1,14300,2022-04-07,NaN,配達済み

## データを加工しよう＆加工結果を確認

In [20]:
# 欠損値を除去
df_order.dropna(subset=["商品ID"],inplace=True)
print(df_order.isnull().sum())

オーダーID        0
オーダー日         0
顧客ID          0
商品ID          0
数量            0
売上            0
出荷日           0
キャンセル日    13662
ステータス         0
dtype: int64

In [22]:
# 重複をなくす
df_order.drop_duplicates(subset=["オーダーID"],keep="last",inplace=True)
print(df_order.duplicated(subset=["オーダーID"]).sum())

0

## データを結合しよう

In [28]:
df_merge = pd.merge(df_order,df_customer,on="顧客ID",how="left")
display(df_merge)

,オーダーID,オーダー日,顧客ID,商品ID,数量,売上,出荷日,キャンセル日,ステータス,氏名,ひらがな,生年月日,性別,都道府県
0,201901010005-1,2019-01-01,C00002159,TB-BUNN,1,9800,2019-01-01,NaN,配達済み,竹田 朋実,たけだ ともみ,1995-07-01,女,東京都
1,201901010001-1,2019-01-01,C00000112,TO-AUNN,1,2280,2019-01-04,NaN,配達済み,小川 幸枝,おがわ ゆきえ,1991-06-13,女,神奈川県
2,201901010005-2,2019-01-01,C00002159,PA-BMBS,1,20000,2019-01-02,NaN,配達済み,竹田 朋実,たけだ ともみ,1995-07-01,女,東京都
3,201901010004-1,2019-01-01,C00001710,BP-BUNN,1,9800,2019-01-01,NaN,配達済み,植田 陽一,うえだ よういち,1995-06-23,男,東京都
4,201901020019-2,2019-01-02,C00001925,PA-AMBL,1,16500,2019-01-07,NaN,配達済み,原田 由香,はらだ ゆか,1975-10-12,女,大阪府
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13665,202209300008-1,2022-09-30,C00000279,HA-BUNN,1,4800,2022-10-04,NaN,配達済み,佐古田 佳奈,さこだ かな,1978-04-13,女,神奈川県
13666,202209300019-1,2022-09-30,C00001949,TS-AMBS,1,7900,2022-10-05,NaN,配達済み,福住 翔子,ふくずみ しょうこ,1999-07-21,女,神奈川県
13667,202209300018-1,2022-09-30,C00001779,VE-CMWL,1,16800,2022-10-07,NaN,配達済み,山本 のぞみ,やまもと のぞみ,1995-12-02,女,広島県
13668,202209300013-2,2022-09-30,C00001192,HC-AUNN,1,1200,2022-10-05,NaN,配達済み,近藤 祐子,こんどう ゆうこ,1978-09-29,女,東京都
13669,202209300002-1,2022-09-30,C00000041,PA-AMBL,1,16500,2022-10-04,NaN,配達済み,具志堅 美果,ぐしけん みか,1994-08-27,女,東京都

In [29]:
df_merge = pd.merge(df_merge,df_item,on="商品ID",how="left")
display(df_merge.head())

,オーダーID,オーダー日,顧客ID,商品ID,数量,売上,出荷日,キャンセル日,ステータス,氏名,ひらがな,生年月日,性別,都道府県,商品名,カテゴリ,サブカテゴリ,色,サイズ,定価
0,201901010005-1,2019-01-01,C00002159,TB-BUNN,1,9800,2019-01-01,NaN,配達済み,竹田 朋実,たけだ ともみ,1995-07-01,女,東京都,トートバッグ B,バッグ,Unisex,NaN,NaN,9800
1,201901010001-1,2019-01-01,C00000112,TO-AUNN,1,2280,2019-01-04,NaN,配達済み,小川 幸枝,おがわ ゆきえ,1991-06-13,女,神奈川県,タオル A,小物,Unisex,NaN,NaN,2280
2,201901010005-2,2019-01-01,C00002159,PA-BMBS,1,20000,2019-01-02,NaN,配達済み,竹田 朋実,たけだ ともみ,1995-07-01,女,東京都,Men Black パンツ B S,ボトムス,Men,Black,S,20000
3,201901010004-1,2019-01-01,C00001710,BP-BUNN,1,9800,2019-01-01,NaN,配達済み,植田 陽一,うえだ よういち,1995-06-23,男,東京都,バックパック B,バッグ,Unisex,NaN,NaN,9800
4,201901020019-2,2019-01-02,C00001925,PA-AMBL,1,16500,2019-01-07,NaN,配達済み,原田 由香,はらだ ゆか,1975-10-12,女,大阪府,Men Black パンツ A L,ボトムス,Men,Black,L,16500

In [30]:
print(df_merge.duplicated(subset="オーダーID").sum())
print(df_merge.isnull().sum())

0
オーダーID        0
オーダー日         0
顧客ID          0
商品ID          0
数量            0
売上            0
出荷日           0
キャンセル日    13403
ステータス         0
氏名            0
ひらがな          0
生年月日          0
性別            0
都道府県          0
商品名           0
カテゴリ          0
サブカテゴリ        0
色          4164
サイズ        4164
定価            0
dtype: int64

In [31]:
# データ出力
df_merge.to_csv(output_file,index=False)